<html>
  <head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/app/static/css/styles.css" type="text/css">
  </head>
  <body>
  	<div class="row"> 
  		

  		<div class="col-md-9 col-md-offset-2" class="active">
		<nav class="navbar navbar-light bg-faded">
			<ul class="nav navbar-nav">
			<li class="nav-item active">
					<a class="nav-link" href="#">Test App </a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item active">
					<a class="nav-link.pull-*-right" href="#">Sign-in <span class="sr-only">(current)</span></a>
				</li>
				
			</ul>
		</nav>
		</div>
		<hr>
		<div class="col-md-9 col-md-offset-2" class="active">
  			<h2>Welcome to the Test</h2>
  			<p>We are going to build a cool application using aMVC framework!This application was built with Village 88 folks </p>
			<a href='/start' class="btn btn-primary" >Start</a>
   		</div>
  		<div class="col-md-2 col-md-offset-2" class="active">
  			<h4>Manage Users</h4>
    		<p>Using this appliation, you'll learn how to add, remove and edit users for the application</p>
    	</div>
    	<div class="col-md-2 col-md-offset-1" class="active">
  			<h4>Leave Messages</h4>
    		<p>Users will be able to leave a message to another user using this application</p>
    	</div>
    	<div class="col-md-3 col-md-offset-1" class="active">
  			<h4>Edit User information</h4>
    		<p>Admins will be able to edit another user's information(email address, first name, last name, etc.)</p>
    	</div>
    </div>
    </div>
  </body>
</html>
