<html>
  <head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
  </head>
  <body>
  	<div class="row"> 
		<div class="col-md-9 col-md-offset-2" class="active">
		<nav class="navbar navbar-light bg-faded">
			<ul class="nav navbar-nav">
			<li class="nav-item active">
					<a class="nav-link" href="#">Test App </a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="#">Dashboard <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item active">
					<a class="nav-link.pull-*-right" href="#">Profile <span class="sr-only"></span></a>
				</li>
				<li class="nav-item active">
					<a class="nav-link.pull-*-right" href="#">Log off<span class="sr-only"></span></a>
				</li>	
			</ul>
		</nav>
		</divclass="col-md-9 col-md-offset-2">
		<form>
			<textarea name='msg' type='text'></textarea><br>
			<input type='submit' value='post'>
	</div>
</body>
</html>